*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    
}
#nav{
    padding: 3vw 10vw;
    justify-content: space-between;
    display: flex;
    position: relative;
}
#nleft{
    display: flex;
    gap:30px;
}
#nav a{
    display: inline-block;
    color: black;
    text-decoration: none;
    font-size: 12px;
    font-weight: 800;
}
#centera{
    position:absolute;
    top: 50%;
    left: 50%;
    font-size: 14px;
    transform: translate(-50%,-50%);
}

#hero{
  
    width: 100%;
    margin-top: 15vw;
    padding: 0vw 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#sustain{
    width: 10vw;
   
}
#sustain p {
    font-weight: 800;
    opacity: .5;
    font-size: 14px;
    margin: 10px 0;
}
#sustain #susimg{
    width: 10vw;
    height: 15vw;
    position: relative;
    overflow: hidden;

}
#susimg img{
    width: 100%;
    height:100%;
    object-fit: cover;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 40%;
    left: 50%;

}

#eph{
    width: 30vw;
   min-height: 42vw;
   
    position: relative;
}
#eph #heading{
    position: absolute;
    top: -22%;
    left: -20%;
}
#eph h1{
    font-size: 5vw;
    font-weight: 400;
    letter-spacing: -.4vw;
    line-height: 1;
}
#imgtxt{
    width: fit-content;
    height: fit-content;
}
#eph img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#eph p{
    
    font-size: 1.3vw;
    letter-spacing: -.07vw;
    width: 40%;
   
}
#visit{
    gap: 10px;
    align-items: center;
    display: flex;
}
#circlev{
    display: flex;
    width: 3vw;
    height: 3vw;
   
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #5e5e5e;
}
#circlev{
    color: #5e5e5e;
}
#visit h4{
    color: #5e5e5e;
}
#motive{
    padding: 3vw 10vw;
    display: flex;
    justify-content: space-between;
    margin-top: 3vw;
}
#motive p{
    position: relative;
    right: 0;
    font-size: 1.5vw;
    text-align: right;
    line-height: 1.5;
    width: 80%;
   letter-spacing: .04vw;
   font-weight: 900;
}
#motive span{
   
    display: inline-block; 
    border-radius: 100px;
   position: relative;
   top: 14px;
    margin: 0 13px  ;
}
#onespan{
    width: 80px;
    height: 50px;
    background-image: url('images/bluegirl.jpg');
    background-position: 0% 60%;
    background-size: cover;
}
#twospan{
    width: 130px;
    height: 60px;
    background-image: url('images/shaljam.jpg');
    background-size: cover;
    background-position: 0% 48%;
}
#threespan{
    width: 80px;
    height: 50px;
    background-image: url('images/grass.jpg');
    background-position: 0% 60%;
    background-size: cover;
}
#pictures
{
    padding: 3vw 12vw 3vw 14vw ;
    margin-top: 8vw;
    display: flex;
    justify-content: space-between;
}
#firstpic{
    width: 17vw;
}
#firstpic #picimg{
    width: 100%;
    height: 24vw;
    margin-bottom: 1vw;

}
#firstpic img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#firstpic h1, #secpic h1{
    letter-spacing: -.1vw;
    font-weight: 100;
    font-size: 2vw;
}
#firstpic p, #secpic p{
    font-size: 1vw;
    opacity: .8;
    margin-top: 10px;
    letter-spacing: -.1vw;

}
#secpic{
    width: 22vw;
    height: 37vw;
    display: flex;
    flex-direction: column;
    align-items: end;
}
#secpic #picimg img{
    width: 22vw;
    height: 37vw;
}
#secpic #picimg{
    width: 100%;
    height: 100%vw;
    margin-bottom: 1vw;
    align-items: end;
}
#secpic p{
    width: 80%;
    text-align: right;
}

#banner{
    width: 100%;
    
    margin-top: 8vw;
    display: flex;
    align-items: center;
}
#bimg{
    width: 65%;
    height: 60vh;
}
#bimg img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-position: 0% 70%;
}
#btext{
    width: 35%;
    padding: 0 3vw;
}
#btext h1{
    font-size: 2.8vw;
    font-weight: 400;
    letter-spacing: -.15vw;
    line-height: 1;
}
#btext p{
    margin-top: 20px;
    width: 60%;
}
#future{
    
   overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 60vw;
    background-color: #fff;
   
}
#future video{
    
    width: 100%;
    height: 100%;
   position: absolute;
   top: 1%;

    transform: translate(-50% -50%);
}
#ftext{
    z-index: 999;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding: 1vw 2vw;
	border-radius:20px;
    background-color: azure;
}
#ftext h1{
	font-size:24px;
	font-family:'arial';
}
#ftext button{
    padding: .8vw 1.7vw;
    font-size: .6vw;
    text-transform: capitalize;
    font-weight: 800;
    border-radius: 100px;
    border: 1px solid #5e5e5e;
    color: tomato;
    margin-top: 10px;
}